/* Reset browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* Prevent unwanted horizontal scroll */
}

/* Background & Layout */

.header-name {
  animation: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1s slideInFromLeft;
}

.header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #ab3eff, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 40px 20px;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

/* Left Side - Text */
.header-greeting {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}

.header-name {
  background: linear-gradient(to left, #ffffff, #7625c2,#000000);
  font-size: 52px;
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.header-tagline {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 30px;
  line-height: 1.6;
}

.header-tagline .highlight {
  color: #fff;
  font-weight: 600;
}

/* Buttons */
.header-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.btn {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.primary-btn {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #ffffff00, #a941e100);
  color: #111;
}

.primary-btn:hover {
  transform: scale(1.2);
  background: linear-gradient(to right, #ffffff79, #a941e192);
}

.secondary-btn {
  border: 2px solid #22d3ee;
  color: #22d3ee;
}

.secondary-btn:hover {
  background: #22d3ee;
  color: #111;
}

/* Right Side - Image */
.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.header-image img {
  width: 100%;
  max-width: 280px;
  height: 280px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0px 25px rgb(0, 0, 0);
  object-fit: cover;
}

/* Responsive */
@media (max-width: 900px) {
  .header-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 40px;
  }

  .header-buttons {
    justify-content: center;
  }

  .header-image {
    border: #111;
    margin-top: 20px;
    order: -1;
    /* Move image above text */
  }
}